<div class="span6"><span class="name"><%= name %></span></div>
<div class="span3">
    <span class="size"><%= displaySize(size) %></span>
    <div class="progress hidden">
        <div class="progress-label"></div>
        <div class="bar"></div>
    </div>
    <span class="message hidden"></span>
</div>
<div class="span3">
    <button class="btn btn-warning btn-small" id="btn-cancel"><i class="icon-remove"></i>Cancel</button>
    <button class="btn btn-small" id="btn-clear">Clear</button>
</div>

<!--<div class="viBox">
    <a href="http://hfdoc.qa.nt.ctripcorp.com/docmpic/20150723/upload_3d3867a2840cd8ee8da6c16f0a42a2d8.png" target="_blank" class="imgA">
        <div class="img-wrap">
            <img src="http://hfdoc.qa.nt.ctripcorp.com/docmpic/20150723/upload_3d3867a2840cd8ee8da6c16f0a42a2d8.png" class="viImg" title="logo.png">
        </div>
        <div class="picName">logo.png</div>
    </a>
    <a href="javascript:;" class="glyphicon glyphicon-remove" data-path="20150723/upload_3d3867a2840cd8ee8da6c16f0a42a2d8.png"></a>
</div>-->
