<div style="background:#fff;padding:10px;">
	<h2>搜索</h2>
	<div class="input-group mb20">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-search"></span>
			</span>
		<input type="text" class="form-control" doc-search-list-directive ng-model="searchConfig.keyword" ng-change="search()" placeholder="项目名称 / 项目成员" value="">
	</div>
	<div>
		<p class="fs12 color-info">记录总数：
			<strong>{{ total }}</strong>
		</p>
		<table class="table table-hover list-table">
			<thead>
			<tr style="background:#eee;">
				<th style="width:10%;">类型</th>
				<th style="width:30%;">名称</th>
				<th style="width:20%;">标签</th>
				<th style="width:13%;">经办人</th>
				<th style="width:17%;">创建时间</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in listData track by item._id">
				<td>{{ item.proClass }}</td>
				<td>
					<a ng-href="#/doc-detail?id={{ item._id }}" class="itemLink">
						<span class="proName">{{ item.proName }}</span>
					</a>
				</td>
				<td>
					<span class="label tag" ng-repeat="tag in item.tag track by $index" ng-class="{'tag-green': tag == 'Online', 'tag-blue': tag == 'Offline', 'tag-pink': tag == 'Mobile', 'tag-yellow': tag == '物料' }">{{ tag }}</span>
				</td>
				<td>
					{{ item.person[0].value | filter: {isOperator: true} }}
				</td>
				<td class="color-hint">{{ item.createDate }}</td>
			</tr>
			</tbody>
		</table>

		<div class="paging-wrap">
			<paging
					class="paging-class"
					page="searchConfig.page"
					page-size="pageSize"
					total="total"
					adjacent="1"
					dots="..."
					scroll-top="false"
					hide-if-empty="true"
					show-prev-next="true"
					paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
			</paging>
		</div>
	</div>
</div>