<div class="main-version-wrap">
    <ul class="main-version">
        <li>
            <h2>v1.1 / 2015-08-21</h2>
            <div>
                <p>1：列表页增加分页</p>
                <p>2：修改online,offline,mobile标签色</p>
                <p>3：新增上传类型PSD文件</p>
                <p>4：新增上传进度条功能</p>
            </div>
        </li>
        <li>
            <h2>v1.2 / 2015-09-23</h2>
            <div>
                <p>1: 新增CP4，经办人，创建时间，物料字段</p>
                <p>2: 增加对必填字段的验证</p>
                <p>3: 新增业务线修改选项</p>
                <p>4: 列表页可搜索UI,VI,CSS对应的人名</p>
            </div>
        </li>
        <li>
            <h2>v1.3 / 2015-10-30</h2>
            <div>
                <p>1: 新增报表页面</p>
                <p>2: 列表页显示数量更新</p>
                <p>3: 修复文件上传日期bug</p>
            </div>
        </li>
        <li>
            <h2>v2.0 / 2015-12-11</h2>
            <div>
                <p>1: 废弃之前的js框架backbone改用angular</p>
            </div>
        </li>
        <li>
            <h2>v2.1 / 2015-12-30</h2>
            <div>
                <p>1: 增加登录模块</p>
                <p>2: 后台代码结构拆分优化</p>
            </div>
        </li>
    </ul>
</div>