<div class="header">
    <img src="img/logo.png" class="img-logo"/>
    <h1 class="m-title">Projects Docs</h1>
    <a class="version" href="#doc-version" target="_blank">V2.0</a>
    <a class="m-list-link" href="#docs-list">{{ ::listTitile }}</a>
    <a class="m-list-link" href="#doc-report" ng-bind="reportTitle"></a>
    <a href="#doc-add" class="label label-primary btn-add">
        <span class="glyphicon ico-plus"> </span> {{ ::addDocTitle }}
    </a>
    <a ng-href="{{ logoutUrl }}" ng-click="logout($event)" class="m-list-link pull-right">注销</a>
    <span class="m-list-link pull-right">用户：{{ user.name }}</span>
</div>