<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>酒店UED项目管理</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/datepicker.css">
    <!--<link rel="stylesheet" type="text/css" href="./stylesheets/backbone.upload-manager.css">-->
    <link rel="stylesheet" type="text/css" href="./stylesheets/uploadify.css">
</head>
<body>

<div id="head" class="m-header"></div>
<div class="wrapper" id="base_bd"></div>

<script type="text/javascript" src="./javascripts/lib/jquery-1.9.1.js"></script>
<script type="text/javascript" src="./javascripts/lib/underscore.js"></script>
<script type="text/javascript" src="./javascripts/lib/backbone.js"></script>
<script type="text/javascript" src="./javascripts/lib/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="./javascripts/lib/uploadify3.2.1/jquery.uploadify.js"></script>
<!--<script type="text/javascript" src="./javascripts/lib/jquery.ui.widget.js"></script>-->
<!--<script type="text/javascript" src="./javascripts/lib/jquery.iframe-transport.js"></script>-->
<!--<script type="text/javascript" src="./javascripts/lib/jquery.fileupload.js"></script>-->
<!--<script type="text/javascript" src="./javascripts/lib/backbone.defered-view-loader.js"></script>-->
<!--<script type="text/javascript" src="./javascripts/lib/backbone.upload-manager.js"></script>-->
<script type="text/javascript" src="./javascripts/app.js"></script>
<script type="text/javascript" src="./javascripts/tpl.js"></script>
<script type="text/javascript" src="./javascripts/util.js"></script>
<script type="text/javascript" src="./javascripts/main.js"></script>
<script type="text/javascript" src="./javascripts/router.js"></script>

</body>
</html>